.cardLink {
    text-decoration: none;
    color: inherit;
  }
  
  .card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .greyBox {
    width: 100%;
    height: 200px;
    background-color: #ccc; /* Grey Box */
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .price {
    font-size: 16px;
    color: #007bff;
    margin-bottom: 10px;
  }
  